* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

html,
body {
  height: 100%;
  background-color: rgb(240, 240, 240);
}

body {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  max-width: 1366px;
  margin: 0 auto;
}
